/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";

header{
  background-color: gray;
}

footer{
  background-color: gray;
  font-size: 9px;
  text-align: right;
}

body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}

.one {
  border-style: solid;
  border-color: $blue;
  color: darken($blue, 29%);
  margin: $margin;
}

.two{
  @extend .one;
}
