div#maincontent
  h1 #{title}
  form(action="/careto", method="post") 
    label(for="name") Name
    input(type="text", name="name")
    label(for="surname") Surname 
    input(type="text", name="surname")
    input(type="submit", id="submit", value="Send")

div#linkback
  a(href='/', title='Go to Homepage') Back to Home Page
