div#maincontent
  h1 #{title}
  form(action="/", id="new_Careto")
    p Name
      input(type="text", id="name")
    p Surname 
      input(type="text", id="surname")
    p Ready? 
      input(type="submit", id="submit", value="Send")


div#linkback
  a(href='/', title='Go to Homepage') Back to Home Page
