section.one
  h1 Welcome to #{title}
  a(href='/caretos', title='Go to Caretos list') Caretos

section.two
  h1 Add a new Contact to your list 
  a(href='/caretos/new', title='Add a new Careto to your list') New Careto
