section.one
  h1 title
  p Welcome to #{title}
  a(href='/caretos', title='Go to Caretos list') Caretos

section.two
  h1 another section title
  p Welcome AGAIN 
  p this is another section with some more content
