!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/print.css')
    link(rel='stylesheet', href='/stylesheets/ie.css')
  body
    header
      #flash
        - if (flash.error != 'undefined')
          p= flash.error
        - if (flash.info != 'undefined')
          p= flash.info
      h1 Welcome to Caretos
      img(src='/images/logo.jpg')

    nav
    outer_section#content!= body
    aside
      p and this is a sidebar so could put some content here
    footer
      p all rights reserved by me --- all information in this site is fake anyway!
