!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Header
    nav
    section#intro
    section#content!= body
    aside
    footer
      h3 my footer
